
@{
    ViewBag.Title = "VolunteerComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 style="color:crimson; padding-left:5vw; padding-right:5vw">Volunteer Comment Form</h2>

<div style="padding-left:5vw; padding-right:5vw">
    Recently volunteered with SOSL? We love hearing comments and feedback from our wonderful volunteers!<br />
    <br />

   


    <label>First Name</label>
    <div>
        <div><input required maxlength="50" aria-required="true" size="1000" type="text" /></div>
    </div>

<label>Last Name</label>
<div>
    <div><input required maxlength="50" aria-required="true" size="1000" type="text" /></div>
</div>

<label>Email</label>
<div>
    <div><input required maxlength="50" aria-required="true" size="1000" type="text" /></div>
</div>

<label>Date of Service</label>
<div>
    <div><input required maxlength="50" aria-required="true" size="1000" type="text" /></div>
</div>

<label>Tell us what you think!</label>
<div>
    <textarea style="resize:none" rows="8" cols="50"></textarea>
</div>

<br />
<div style="padding-left:5vw; padding-right:5vw"><input type="submit" name="commit" value="Submit" class="btn btn btn-dark btn-lg" data-disable-with="Saving..." /></div>

</div>

