@model WebApplication3.Models.EventViewModel
@{
                ViewBag.Title = "EventCreator";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EventCreator", "EventCreator", FormMethod.Post))


{
<h2><Font color="Crimson" style="padding-left:5vw">Create an Event</Font></h2>
<div style="padding-left:5vw">
<form>
    <label>Event Name</label>
    <div>
        @Html.TextBoxFor(Model => Model.EventSurgery)
    </div>


    <label>Location</label>
    <div>
        @Html.TextBoxFor(Model => Model.EventLocation)
    </div>

    <label>Date</label>
    <div>
        @Html.TextBoxFor(Model => Model.EventDate)
    </div>
    <br />
    <div style="padding-left:5vw; padding-right:5vw"><input type="submit" id="submit" name="commit" value="Submit" class="btn btn btn-dark btn-lg" data-disable-with="Saving..." /></div>

</form>
    </div>
}
