
@{
    ViewBag.Title = "EventCreator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><Font color="Crimson">Create an Event</Font></h2>

<form>
    <p>Event Name:     <input type="text" title="Event Name" /></p>
    <p>Event Location: <input type="text" title="Event Location" /></p>
    <p>Event Date:     <input type="date" title="Event Date" /></p>
    <p>Event Time:     <input type="time" title="Event Time" /></p>
    <p><input type="button" value="Create Event" /></p>

</form>

