
@{
    ViewBag.Title = "BoardOfDirectors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <link rel="stylesheet" type="text/css" href="~/Custom_CSS_Styles/Border.css" />
    <span align="left" style="font-size:30px;">Board of Directors</span><br /><br />
    <br /><div style="height:1px; background-color:black; padding-left:5vw; padding-right:5vw "></div><br />


    <div class="row">
        <div style="width:10%; float:left; padding-left:1vw">


            <img src="~/BOD Pics/ClairSOSPic.png" /><img /><br /><br />
        </div><br />

        <div style="width:90%;float:right">
            <h1 align="left" style="font-size:18px;">
                Claire Misbach Simms serves as Corporate Responsibility Manager for LG&E and KU Energy, LLC. Simms comes to LG&E after ten years spent at Fund for the Arts in various fundraising roles. Simms earned her B.A. in English from Bellarmine University in 2005 and her MBA from Bellarmine in 2013. Simms is a graduate of the Leadership Louisville Ignite Program and serves as a member of the Board of Directors of Surgery on Sunday – Louisville, Inc. and the Main Street Association.
            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:black; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row">
        <div style="width:10%; float:left; padding-left:1vw">


            <img src="~/BOD Pics/ShawnSOSPic.png" /><img /><br /><br />
        </div><br />

        <div style="width:90%;float:right">
            <h1 align="left" style="font-size:18px;">
                Shawn Stevison, CPA, CHC, CGMA, CRMA is the Manager of Healthcare Consulting Services for Dean Dorton Allen Ford, PLLC.  She is an audit and compliance professional with over 15 years of experience in healthcare, including 11 years of compliance focus. She focuses her practice in regulatory compliance and risk mitigation for hospitals, inpatient rehabilitation, skill nursing facilities, home health agencies, ambulatory surgery centers, diagnostic testing facilities, and physician practices.
            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:black; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row">
        <div style="width:10%; float:left; padding-left:1vw">


            <img src="~/BOD Pics/PhillipSOSPic.png" /><img /><br /><br />
        </div><br />

        <div style="width:90%;float:right">
            <h1 align="left" style="font-size:18px;">
                Philip Marks Rosenbloom, M.D., PH.D (pharmacology) is a recently retired general surgeon, having served his Louisville community for some forty years.  Rosenbloom graduated from Vanderbilt University.  He spent two years of general surgery residency at The Johns Hopkins Hospital in Baltimore; and completed his general surgery residency at University of Louisville.   Currently, Dr. Rosenbloom provides quality assurance work at Jewish Hospital and St. Mary’s and Surgery On Sunday Louisville.
            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:black; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row">
        <div style="width:10%; float:left; padding-left:1vw">


            <img src="~/BOD Pics/BODSamSOSPic.png" /><img /><br /><br />
        </div><br />

        <div style="width:90%;float:right">
            <h1 align="left" style="font-size:18px;">
                Sam Walling has served as the Medical Director of Surgery on Sunday Louisville since 2013 as well as a member of the organization’s Board of Directors.  He is a recent graduate of the University of Louisville School of Medicine and a Resident Physician in the Department of Surgery at the University of Kentucky Medical Center.  He received his Bachelor’s of Engineering from Vanderbilt University in 2009.
            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:black; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row">
        <div style="width:10%; float:left; padding-left:1vw">


            <img src="~/BOD Pics/PhyllisSOSPic.png" style="width:75px; height:100px" /><img /><br /><br />
        </div><br />

        <div style="width:90%;float:right">
            <h1 align="left" style="font-size:18px;">
                Phyllis Florman has served as a commissioner of the Louisville Jefferson County Human Relations Commission and was appointed three times to the Kentucky Commission on Women. During her third term, she was elected vice-chair of the National Association of Commission on Women. Other career highlights include president of the Louisville Bar Foundation, The University of Louisville Law Alumni Association, and The Family Place, a child sexual abuse treatment agency. Florman was named a Woman of Distinction in 2014 by the Louisville-based Center for Women and Families for her work with victims of domestic abuse.  She now is a professional arbiter and mediator.
            </h1>
        </div>
    </div>




</p>

