
@{
    ViewBag.Title = "PatientTestimonial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2 style="padding-left:3vw">Patient Testimonials</h2><br />
    <div style="padding-left:6vw">
        
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FChanelleHelm%2Fposts%2F10100305166512761%3A0&width=500" width="500" height="335" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <br />
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fangie.glotzbach%2Fposts%2F10213821232188757%3A0&width=500" width="500" height="287" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <br />
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ferica.sutton.md%2Fposts%2F10155879619299063%3A0&width=500" width="500" height="287" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <br />
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbarbara.martin.90857%2Fposts%2F10213623797852440%3A0&width=500" width="500" height="287" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
</body>
