
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <link rel="stylesheet" type="text/css" href="~/Border.css" />
    <h1 style="color:red">
        Our friendly Surgery on Sunday Louisville, Inc. Staff are dedicated to serving all SOSL patients, volunteers, and partners.
    </h1>
    <img src="" /><img />
</p>

