
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <link rel="stylesheet" type="text/css" href="~/Custom_CSS_Styles/Border.css" />
    <h1 align="left" style="color:crimson; padding-left:5vw; padding-right:5vw">
      <span style="color:black;">
          <p><b>Staff</b></p>
        </span><br /><br />
        Our friendly Surgery on Sunday Louisville, Inc. Staff are dedicated to serving all SOSL patients, volunteers, and partners.<br />

    </h1>

    <br /><div style="height:1px; background-color:crimson; padding-left:5vw; padding-right:5vw "></div>
    <br />

    <link rel="stylesheet" type="text/css" href="~/Custom_CSS_Styles/Rotating pics.css" />

    <div class="row"style="padding-left:5vw; padding-right:5vw">
        <div style="width:30%; float:left">
            <figure class="snip1581">
                <img src="~/Pictures/EricaSOS.jpg" align="left" height="350" width="400" alt="profile-sample2" />
                <figcaption>
                    <h3 class="title1">Erica</h3>
                    <h3 class="title2">Sutton</h3>
                    <h3 class="title3">M.D. - President & CEO</h3>
                </figcaption><a href="#"></a><br />
                <br />
            </figure>
        </div>

        <div style="width:70%;float:right">
            <h1 align="left" style="font-size:25px;">
                Erica Sutton, founder of Surgery on Sunday Louisville, is a passionate member of the Louisville medical community. Dr. Sutton is a renowned alumnus of The Johns Hopkins University School of Medicine in Baltimore, Maryland. Serving as Chief of Surgery at Jewish Hospital and St. Mary’s Hospital in Louisville Kentucky and as an Assistant Professor of Medicine at the University of Louisville, Erica strives to improve access to quality surgical care for all.
            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:crimson; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row"style="padding-left:5vw; padding-right:5vw">
        <div style="width:30%; float:left">
            <figure class="snip1581">
                <img src="~/Pictures/SamSOS.png" align="left" height="350" width="400" alt="profile-sample2" />
                <figcaption>
                    <h3 class="title1">Sam</h3>
                    <h3 class="title2">Walling</h3>
                    <h3 class="title3">M.D. – Medical Director</h3>
                </figcaption><a href="#"></a><br />
                <br />
            </figure>
        </div>

        <div style="width:70%;float:right">
            <h1 align="left" style="font-size:25px">
                Sam Walling is a first year Surgical Resident at the University of Kentucky. He graduated from the University of Louisville School of Medicine in 2017 and received a Bachelor’s Degree in Biomedical Engineering from Vanderbilt University in Nashville, Tennessee.
            </h1>
        </div>
    </div>
    
    <br /><div style="height:1px; background-color:crimson; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row"style="padding-left:5vw; padding-right:5vw">
        <div style="width:30%; float:left">
            <figure class="snip1581">
                <img src="~/Pictures/BeatrizSOS.jpeg" align="left" height="350" width="400" alt="profile-sample2" />
                <figcaption>
                    <h3 class="title1">Beatriz</h3>
                    <h3 class="title2">Sanchez</h3>
                    <h3 class="title3">Clinical Coordinator</h3>
                </figcaption><a href="#"></a><br />
                <br />
            </figure>
        </div>
        <div style="width:70%;float:right">
            <h1 align="left" style="font-size:25px">
                <a href="mailto:beatriz@soslouisville.org">Contact Beatriz at beatriz@soslouisville.org</a>

            </h1>
        </div>
    </div>

    <br /><div style="height:1px; background-color:crimson; padding-left:5vw; padding-right:5vw "></div><br />

    <div class="row"style="padding-left:5vw; padding-right:5vw">
        <div style="width:30%; float:left">
            <figure class="snip1581">
                <img src="~/Pictures/JordanSOS.jpg" align="left" height="350" width="400" alt="profile-sample2" />
                <figcaption>
                    <h3 class="title1">Jordan</h3>
                    <h3 class="title2">Licata</h3>
                    <h3 class="title3">Technology Coordinator</h3>
                </figcaption><a href="#"></a><br />
                <br />
            </figure>
        </div>
        <div style="width:70%;float:right">
            <h1 align="left" style="font-size:25px">Jordan is currently an undergraduate student at the University of Louisville pursing bachelor’s degrees in Biology and Public Health. He has been a partner of Surgery on Sunday Louisville since 2016 and joined the organization in an official capacity in July of 2017.</h1>
            <h2 align="left" style="font-size:25px">
                <a href="mailto:jordan@soslouisville.org">Contact Jordan at jordan@soslouisville.org</a>

            </h2>
        </div>
    </div>




</p>

