body {

    border-right-color: lightgray;
    border-right-width: 500px;
    border-right-style:solid;
    border-left-color: lightgray;
    border-left-width: 500px;
    border-left-style:solid;
    
}

