
@{
    ViewBag.Title = "PatientReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    
        <title>PatientReferral</title>
        <br />
        <h2 align="middle" style="color:crimson">Patient Referral</h2>
        <br />
</head>
<body>
    <div style="padding-left:5vw">
        <p>
            Patient referrals to Surgery on Sunday Louisville may be
            made by any licensed healthcare provider through that provider’s office, or
            by a registered health entity (such as a physician’s office or a community
            clinic). If you are in need of access to our patient referral system, please
            send an email to <a href="mailto:volunter@soslouisville.org" style="color:crimson">info@soslouisville.org </a> on
    your office’s letterhead and someone from our organization will contact you
    within five business days to provide to you the logon credentials.
</p>
        <br />
        <p>For a list of information we need to accept patient referrals, <a style="color: crimson" href="http://www.soslouisville.org/wp-content/uploads/2018/01/Referral-Questions.pdf">click here.</a> </p>
        <br />
        <p>If you already have the login information for our referral portal, <a style="color: crimson" href="~/Account/Login">click here.</a>  </p>
        <br />
        <br />

        </div>
</body>
</html>