
@{
    ViewBag.Title = "PatientReferralPasswordPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>PatientReferralPasswordPage</title>
    <meta charset="UTF-8" />
</head>
<body>
    <div style="text-align: justify";>
        </br>
        </br>

        <h5>PROTECTED: REFER A PATIENT</h5>

        <p>This content is password protected. To view it please enter your password below:</p>

        </br>
        </br>
        <form>
            <form>
                <br>
                <label>Password:</label>
                <div>
                    <div><input required maxlength="50" aria-required="true" size="1000" type="password" /></div>
                </div>
                </br>
                <input type="submit" name="commit" value="Submit" class="btn btn btn-secondary btn-lg" data-disable-with="Saving..." />
            </form>
        </form>
        </div>
</body>
</html>
