
@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="color:crimson; padding-left:5vw; padding-right:5vw">Welcome Admin</h2>
<br />
<li><a href="~/EventCreator/EventCreator">Create an event</a></li>
<li>Another Admin Link here</li>
<li>I'm not sure what else to put on this page....</li>
