
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <link rel="stylesheet" href="~/Content/bootstrapNEW.Min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">

</head>

<body>  

    <div class="container body-content" id="contact-header">
        <h2>Get In Touch With Us!</h2>
        <h3>User the form below to send us an email, or give us a call at 502-242-2089.</h3>
        <hr />
    </div>


    <div class="container" id="contact-form">

        <div class="row">
            <div class="col-6">
                <input class="contact-input" type="text" value="First Name" /> <!--First Name-->
            </div>

            <div class="col-6">
                <input class="contact-input" type="text" value="Last Name" /> <!--Last Name-->
            </div>
        </div>
        
       <div class="row">
           <div class="col-6">
               <input class="contact-input" type="text" value="Email Address" /> <!--Email Address-->
           </div>

           <div class="col-6">
               <input class="contact-input" type="text" value="Contact Phone Number" /> <!--Contact Number-->
           </div>
       </div>
        
        <div class="row">
            <div class="col-12">
                <input class="contact-input" type="text" value="Reason For Contact" /> <!--Reason for Contact-->
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <input class="contact-input" type="text" value="Tell Us What You Need" /> <!--Body of Message-->
            </div>
        </div>

        <div class="col">
            <input class="contact-input" type="button" value="Send" /> <!--Send Button-->
        </div>
     

        
    </div>

</body>

