
@{
    ViewBag.Title = "ContactUs";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <link rel="stylesheet" href="~/Custom_CSS_Styles/ContactUsStyle.css" />

</head>

<body>  

    <div class="container body-content" id="contact-header">
        <h2>User the form below to send us an email, or give us a call at 502-242-2089.</h2>
        <img src="~/Pictures/contact-header-img.jpg" alt="Envelope reading: Get In Touch With Us!" />
        <hr />
    </div>


    <div class="container">

        <div class="justify-content-end" id="contact-form">
            <form id="contact" class="form" role="form" action="https://formspree.io/solutionsquad2017@gmail.com" method="POST">
                <div class="row">
                    <div class="col-xs-6 col-md-6 form-group">
                        <input class="contact-input form-control" id="first-name-input" name="name" placeholder="Name" type="text" required autofocus/>
                    </div>
                    <div class="col-xs-6 col-md-6 form-group">
                        <input class="contact-input form-control" id="email-input" name="_replyto" placeholder="Email" type="email" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input class="contact-input form-control" id="subject-input" name="_subject" placeholder="Subject" type="text" required/>
                    </div>
                </div>
                <textarea class="contact-input form-control" id="message-input" name="message" placeholder="How can we help?" rows="5"></textarea>
                <br />
                <input type="hidden" name="_next" value="~/ContactUs/ContactUs" />
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group">
                        <button class="custom-button btn pull-right" type="submit" value="Send">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>

